/*old opencart style*/
a.button,.list a.button{text-decoration:none;color:#FFF;display:inline-block;padding:5px 15px;background:#003A88;-webkit-border-radius:10px 10px 10px 10px;-moz-border-radius:10px;-khtml-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px}
table.form{width:100%;border-collapse:collapse;margin-bottom:20px}
table.form > tbody > tr > td:first-child{width:200px}
table.form > tbody > tr > td{padding:10px;color:#444;border-bottom:1px dotted #CCC}
.scrollbox{border:1px solid #CCC;width:350px;height:100px;background:#FFF;overflow-y:scroll}
.scrollbox img{float:right;cursor:pointer}
.scrollbox div{padding:3px}
.scrollbox div input{margin:0;padding:0;margin-right:3px}
.scrollbox div.even{background:#FFF}
.scrollbox div.odd{background:#F2F2F2}
.help {color: #666;font-size: 11px;font-weight: normal;display: block; line-height:16px;}
.buttons{float:right}
.heading .buttons .button {margin-left:5px}
.image {border: 1px solid #EEE; padding: 10px; display: inline-block; border-radius:3px;}

.box > .content {overflow:unset;} /* overflow fix on 1.5 */

/* iToggle */
label.ilabel{display:block;font-size:12px;padding-bottom:/*1*/0px;cursor:pointer}
label.itoggle,label.itoggle span{display:block;width:79px;height:23px;margin-bottom:20px;background:url(img/itoggle.png) left bottom no-repeat;cursor:pointer;text-indent:-5000px}
label.itoggle.iToff{background-position:right bottom}
label.itoggle span{background-position:left top;margin:0}
input.iT_checkbox{position:absolute;top:-9999px;left:-9999px}

/* Info modal */
.modal{color:#555;}
#modal-info .modal-body h5{border-bottom: 1px dotted #ccc; padding-bottom:5px; font-size:13px;}
#modal-info .modal-title i.fa{color:#5C8BA5; font-size:18px; padding-right:10px;}
#modal-info .infotags span{display:inline-block; width:287px;}
#modal-info .tag{font-weight: normal; color: #2F7698;}
#modal-info p{margin-bottom:20px;}
#modal-info .img-thumbnail{box-shadow:3px 3px 4px 0px #999; border-radius: 7px;}
#modal-info .infoblock{position:relative; padding:20px; border-radius:10px; margin-bottom:15px; background:#eee;}
#modal-info .infoblock.indent-left{padding-left:90px;}
#modal-info .infoblock.indent-right{padding-right:90px;}
#modal-info .infoblock .context{position:absolute; top:27px; font-size:50px; font-family: Arial, Arial, Helvetica, sans-serif; font-style:italic; font-weight:bold; color:#D8D8D8; text-shadow: 1px 1px 0 #CCC8C8;}
#modal-info .infoblock.indent-left .context{left:18px;}
#modal-info .infoblock.indent-right .context{right:18px;}
#modal-info .infotags p{margin-bottom:25px;}
.info-btn{float:right;}

/* Main style */
.checkbox_list span{width:200px; font-weight:normal; display: inline-block;}
#custom_blocks_tabs li a i{float:right; font-size:14px; padding-top:2px;}
#custom_blocks_tabs li a i:hover{color:#CC5353}
#custom_blocks_tabs li#module-add a i:hover{color:#1871A1}
#module-add{cursor:pointer;}
.active a, a:focus{outline:0;}
.nav-pills li a{outline:0; font-weight:bold; color:#444; text-decoration:none;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{color:#444;}
.nav-tabs li.active i.fa{color:#D83131;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{background:#444;}


textarea{border-radius:5px; background:#F5EFF7; border:1px solid #ccc;}
option{padding-right:15px;}
.box, .box td{font-size: 13px; line-height: 15px; font-family: "PT Sans","PT Sans Narrow", sans-serif;}
h3.panel-title{color:#D83131; font-weight:bold; position:relative;top:2px;}
.box h3.panel-title{float:left; padding: 9px 0px 0px; margin: 0px; font-size: 16px;}
h3.panel-title span{color:#555;}
h3.panel-title img{position:relative;bottom:2px;}
.box h3.panel-title img{bottom:5px;}
.form.about td{padding:30px 10px}
.vtabs a,.vtabs span{border-radius: 7px 0 0 7px; outline:0}
.nav-tabs > li > a{border-radius: 3px 20px 0 0; outline:0; color:#333; text-decoration:none;}
.nav-tabs > li.pull-right > a{border-radius: 20px 3px 0 0;}
.nav-tabs a.selected, .nav-tabs .active a{box-shadow: 2px -2px 2px #eee;}
.nav-tabs a.selected i{background-position:bottom; color:#86C440;}
.nav-tabs i{float:left; position:relative; right:5px; top:1px; padding-right:0px; color:#DED2D0; font-size:16px; font-weight: normal;}
.nav-tabs{margin-bottom: 25px;}
.switchContent{display:none}
.switchBtn{cursor:pointer}
.customer_groups .switchContent > div{display:inline-block;width:200px; margin-bottom:5px;}
.customer_groups .switchContent > div > span{margin-bottom:7px; display:inline-block;}
.customer_groups h4{margin-bottom:5px;}
.customer_groups h4:first-child{margin-top:0;}
#stores{float:right; background:#F4F4F4; position:relative; bottom:10px; left:10px; padding:5px 10px 5px 15px; border:1px solid #ccc; border-radius: 0 0 0 15px; border-top:0; border-right:0;}
#stores.v2{background:#FCFCFC;bottom:15px; left:15px;}
#stores select{margin-left:10px; height:25px !important;}
#template img, #sliptemplate img{width:300px; border: 1px solid #eee; cursor:zoom-in;}
#template img.full, #sliptemplate img.full{width:auto; cursor:zoom-out;}
.multiple > div{float:left; margin-right:70px;}
.colors > div{width:150px; float:left;}
.colors > div > span{display:block; padding-bottom:7px;}
.sortable_div .itoggle{
	float:right;
	margin-bottom:0;
}
.clear{clear:both}
.sortable_div .label, .unsortable_div .label{
	position:relative;
	top:1px;
	color:#555;
	font-size:13px;
	font-weight:normal;
	padding:0.2em 0.6em 0.3em;
	background:transparent;
}
.unsortable_div .label{
	padding-left:17px;
}
.sortable_div, .unsortable_div{
	box-sizing:content-box !important;
	color:#555;
	position:relative;
	padding:4px 7px;
	width:300px;
	line-height:20px;
	cursor:ns-resize;
	border:1px solid #D3D3D3;
	margin-bottom:3px;
	border-radius:7px;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #e5e5e5 51%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#e5e5e5), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#e5e5e5 51%,#ffffff 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#e5e5e5 51%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#e5e5e5 51%,#ffffff 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#e5e5e5 51%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
.unsortable_div{
	cursor:not-allowed;
}
.sortable_div:hover{
	border:1px solid #999;
}
.sortable_div.ui-sortable-helper{
}
.sortable_div i{opacity: 0.15; float:left; position:relative; top:4px; font-size:16px;}
.sortable_div:hover i{opacity: 0.4;}

.multiple_switch > div{width:150px; float:left;}
.multiple_switch > div > span{display:block; padding-bottom:7px;}

tr.info:hover td:first-child{color:#86C440; transition: color 500ms;}
tr.info td:first-child{text-align:center; font-size:22px; color:#bbb;  transition: color 500ms;}
tr.info td:last-child{color:#555;padding:40px 100px 40px 0;}


a.button, .list a.button{
	cursor:pointer;
	transition: background 200ms;
	border:0px solid #888;
	font-weight:normal;
	background: #2e7091;
	border-radius:6px;
	text-shadow:0 0 2px #333;
	box-shadow:1px 1px 2px #333;
	font-size:16px;
	line-height:16px;

	border-radius: 5px;
	border-bottom: 1px solid rgba(255,255,255,0.4);
	box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset, 0 1px 2px rgba(0,0,0,0.8)inset;
	color:#fff;
	text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
		
	background-size : 30px 30px;
	background-repeat:repeat-x;
	background-position :0;
	background-image : -moz-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.3) 100% );
	background-image : -o-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.3) 100%);
	background-image : -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.3) 100%);

	background-color: #555;
}
a.button img{vertical-align:top; position:relative; right:4px;}
a.button:hover{background-color: rgba(74,108,155,1); transition: background 200ms;}

.button i{position:relative; right:4px; transition: color 200ms;}
.button .iconic{font-size:14px; line-height:14px; bottom:1px; }
.button:hover .iconic{transition: color 200ms;}

.button.green i{color:#3DCC5C;}
.button.green:hover i{color:#fff;}
.button.green:hover{background-color:#309B28;}
.button.red i{color:#ED5555;}
.button.red:hover i{color:#fff;}
.button.red:hover{background-color:#CE3D35;}
.button.orange i{color:#ED9923;}
.button.orange:hover i{color:#fff;}
.button.orange:hover{background-color:#EA7D1E;}
.button.blue i{color:#669CE8;}
.button.blue:hover i{color:#fff;}
.button.blue:hover{background-color:#4A6C9B;}
