<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Wholesale Beads &amp; Jewelry Making Supplies</title>
<base href="" />
<meta name="description" content="Wholesale Findings, Beads, Chains and more. Bulk Pricing on everything you need for your jewelry designs." />
<meta name="keywords" content= "Wholesale Findings,Beads,Chains,Pearls,Findings,jewelry parts,jewelry,jewellery,clasps,gold clasps,sterling silver,spacers,beading,jewelry making,necklaces," />

<link rel="stylesheet" type="text/css" href="catalog/view/theme/gempacked/stylesheet/font-opensans/font-opensans.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/gempacked/stylesheet/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/gempacked/stylesheet/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/gempacked/stylesheet/stylesheet.css" />

<link rel="stylesheet" type="text/css" href="catalog/view/theme/gempacked/javascript/jquery/owl-carousel/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="catalog/view/theme/gempacked/javascript/jquery/owl-carousel/owl.transitions.css" />


<script type="text/javascript" src="catalog/view/theme/gempacked/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/gempacked/stylesheet/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/gempacked/javascript/common.js"></script>

<script type="text/javascript" src="catalog/view/theme/gempacked/javascript/jquery/owl-carousel/owl.carousel.min.js"></script>


</head>
<body class="common-home">
<header>
	<div id="mobile-header" class="top-bar hidden-lg hidden-md hidden-sm">
		<div class="container-fluid">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle toggle-menu menu-left push-body pull-left" data-toggle="collapse" data-target="#bs-mobile-menu-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<i class="fa fa-navicon"></i>
					</button>
					<a class="navbar-brand" href="https://www.gempacked.com/"><img src="image/logo-phone.png" title="Gempacked" alt="Gempacked" class="img-responsive" /></a>
					<ul class="list-inline pull-right icon-menu-top">
						<li><a href="https://www.gempacked.com/faq-and-help"><i class="fa fa-question"></i></a></li>
						<li class="dropdown">
							<a data-toggle="dropdown" href="https://www.gempacked.com/login"><i class="fa fa-user"></i></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<form class="login_form" action="https://www.gempacked.com/common/quick_login" method="post" enctype="multipart/form-data">
										<label for="email">Email:</label>
										<input type="text" name="email" id="email" class="form-control" value="" />
										<label for="password">Password:</label>
										<input type="password" name="password" id="password" class="form-control" value="" />
										<input type="submit" class="btn btn-yellow" id="" name="button_login" value="Login" />
										<a href="https://www.gempacked.com/account/forgotten" id="link_forgotten" class="btn btn-blue">Forgotten Password</a>
									</form>
								</li>
							</ul>
						</li>
						<li><a href="https://www.gempacked.com/checkout/cart"><i class="fa fa-shopping-cart"></i></a></li>
					</ul>
				</div>
				<div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="bs-mobile-menu-collapse-1">
					<ul class="nav navbar-nav">
						<li class="user-menu">
							<i class="fa fa-user"></i> Hello. <a href="#">Sign in</a> <br />
							<a href="#" class="btn btn-light-blue">Account</a>
							<a href="#" class="btn btn-light-blue">Orders</a>
							<a href="#" class="btn btn-light-blue">List</a>
							<a href="#" class="btn btn-light-blue">Quick Add to Cart</a>
						</li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<div id="search" class="input-group">
				<input type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</div>
	</div>
	<div id="tab-header" class="top-bar hidden-lg hidden-md hidden-xs">
    	<div class="container-fluid">
			<ul class="list-unstyled pull-left">
				<li><a href="https://www.gempacked.com/" class="logo"><img src="image/logo-phone.png" title="Gempacked" alt="Gempacked" class="img-responsive" /></a></li>
			</ul>
			<ul class="list-unstyled pull-right">
				<li class="dropdown">
					<a data-toggle="dropdown" href="https://www.gempacked.com/login" class="btn btn-yellow">Login</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li>
							<form class="login_form" action="https://www.gempacked.com/common/quick_login" method="post" enctype="multipart/form-data">
								<label for="email">Email:</label>
								<input type="text" name="email" id="email" class="form-control" value="" />
								<label for="password">Password:</label>
								<input type="password" name="password" id="password" class="form-control" value="" />
								<input type="submit" class="btn btn-yellow" id="" name="button_login" value="Login" />
								<a href="https://www.gempacked.com/account/forgotten" id="link_forgotten" class="btn btn-blue">Forgotten Password</a>
							</form>
						</li>
					</ul>
				</li>
				<li><a href="https://www.gempacked.com/checkout/cart"><i class="fa fa-shopping-cart"></i> Cart [ <span id="cart-total-desktop">0</span> ]</a></li>
				<li><a href="https://www.gempacked.com/checkout/checkout" class="btn btn-yellow">Checkout</a></li>
			</ul>
		</div>
	</div>
	<div class="top-bar hidden-sm hidden-xs">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<ul class="list-inline account-menu">
						<li>Welcome visitor!</li>
						<li class="dropdown">
							<a data-toggle="dropdown" href="https://www.gempacked.com/login">Login</a>
							<ul class="dropdown-menu">
								<li>
									<form class="login_form" action="https://www.gempacked.com/common/quick_login" method="post" enctype="multipart/form-data">
										<label for="email">Email:</label>
										<input type="text" name="email" id="email" class="form-control" value="" />
										<label for="password">Password:</label>
										<input type="password" name="password" id="password" class="form-control" value="" />
										<input type="submit" class="btn btn-yellow" id="" name="button_login" value="Login" />
										<a href="https://www.gempacked.com/account/forgotten" id="link_forgotten" class="btn btn-blue">Forgotten Password</a>
									</form>
								</li>
							</ul>
						</li>
						<li>or</li>
						<li><a href="https://www.gempacked.com/register">Register</a></li>
						<li>for Wholesale Pricing.</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<ul class="list-inline pull-right social-icons">
						<li><a target="_blank" href="https://www.facebook.com/pages/Gempacked/455209827860178/"><i class="fa fa-facebook"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/gem_packed/"><i class="fa fa-twitter"></i></a></li>
						<li><a target="_blank" href="https://www.gempacked.com/blog/?feed=atom"><i class="fa fa-rss"></i></a></li>
						<li><a target="_blank" href="http://instagram.com/gempacked"><i class="fa fa-instagram"></i></a></li>
						<li><a target="_blank" href="http://pinterest.com/gempacked"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="https://www.gempacked.com/faq-and-help"><i class="fa fa-question"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="logo-area hidden-sm hidden-xs">
    	<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 col-sm-4">
					<div class="logo">
						<a href="https://www.gempacked.com/"><img src="image/logo_gem.png" title="Gempacked" alt="Gempacked" class="img-responsive" /></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-8">
					<div class="top-cart text-right hidden-lg hidden-md">
						<a href="https://www.gempacked.com/checkout/cart" class="btn btn-blue"><i class="fa fa-shopping-cart"></i>Cart [ <span id="cart-total-desktop">0</span> ]</a>
						<a href="https://www.gempacked.com/checkout/checkout" class="btn btn-yellow">Checkout</a>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="phone">
								<i class="fa fa-comment"></i>Call Now:<br /><strong><a href="tel:+1 213.6294840">+1 213.6294840</a></strong>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="shipping">
								<p><strong>Free shipping above $200</strong></p>
								<p><a href="https://www.gempacked.com/index.php?route=information/information&amp;information_id=6">View Details</a></p>
							</div> 
						</div>
					</div>
					<div id="search" class="input-group">
						<input type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
 						<span class="input-group-btn">
							<button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</div>
				<div class="col-lg-3 hidden-md">
					<div class="top-space hidden-sm"></div>
					<img src="image/top-shipping-banner.png" title="Free Shipping" alt="Free Shipping" class="img-responsive" />
				</div>
				<div class="col-lg-3 col-md-4">
					<div class="top-cart text-right">
						<a href="https://www.gempacked.com/checkout/cart" class="btn btn-blue"><i class="fa fa-shopping-cart"></i>View Cart [ <span id="cart-total-desktop">$0.00</span> ]</a>
						<a href="https://www.gempacked.com/checkout/checkout" class="btn btn-yellow">Checkout</a>
					</div>
					<div class="top-quick-addtocart">
						<h3>Quick add to Cart</h3>
						<p class="description">Enter Sku,Reference #, or Keyword</p>
						<form method="GET" action="https://www.gempacked.com/product/search">
							<input type="hidden" name="route" value="product/search" />
							<div class="row">
								<div class="col-sm-6"><input type="text" value="" autocomplete="off" placeholder="SKU,Ref #,Name" name="search" class="form-control" /></div>
					            <div class="col-sm-2"><input type="text" value="" name="quantity"  placeholder="Qty" class="form-control" /></div>
								<div class="col-sm-4"><input type="button" class="btn btn-orange btn-block" value="Add To Cart" /></div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quick-addtocart-tab-only hidden-lg hidden-md hidden-xs">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<img src="image/top-shipping-banner.png" title="Free Shipping" alt="Free Shipping" class="img-responsive" />
					<div class="row hidden">
						<div class="col-sm-6">
							<div class="phone">
								<i class="fa fa-comment"></i>Call Now:<br /><strong><a href="tel:+1 213.6294840">+1 213.6294840</a></strong>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="shipping">
								<p><strong>Free shipping above $200</strong> - <a href="https://www.gempacked.com/index.php?route=information/information&amp;information_id=6">View Details</a></p>
							</div> 
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="top-quick-addtocart">
				<h3>Quick add to Cart</h3>
				<p class="description">Enter Sku,Reference #, or Keyword</p>
				<form method="GET" action="https://www.gempacked.com/product/search">
					<input type="hidden" name="route" value="product/search" />
					<div class="row">
						<div class="col-sm-6"><input type="text" value="" autocomplete="off" placeholder="SKU,Ref #,Name" name="search" class="form-control" /></div>
			            <div class="col-sm-2"><input type="text" value="" name="quantity"  placeholder="Qty" class="form-control" /></div>
						<div class="col-sm-4"><input type="button" class="btn btn-orange btn-block" value="Add To Cart" /></div>
					</div>
				</form>
			</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-menu hidden-xs">
		<div class="container">
			Menu code will be added here! 
		</div>
	</div>    
</header>
<div class="content-body">
	<div class="container-fluid">
		<div id="notification"></div>
<!-- header tpl end here !-->
		<div class="row">
			<div class="col-sm-12" id="content">
				<!-- content of the page start here !-->

				<!-- HTML Module for home page data and banners !-->
				<div class="home-images-grid">
					<div class="row">
						<div class="col-sm-12"><img src="image/christmas.jpg" alt="" class="img-responsive" /></div>
						<div class="col-sm-12"><img src="image/signup.jpg" alt="" class="img-responsive" /></div>
						<div class="col-sm-6"><img src="image/latest.jpg" alt="" class="img-responsive" /></div>
						<div class="col-sm-6"><img src="image/aboutus.jpg" alt="" class="img-responsive" /></div>
						<div class="col-sm-6"><img src="image/shipping.jpg" alt="" class="img-responsive" /></div>
						<div class="col-sm-6"><img src="image/gold-chain.jpg" alt="" class="img-responsive" /></div>
						<div class="col-sm-4"><img src="image/video.jpg" alt="" class="img-responsive" /></div>
						<div class="col-sm-8"><img src="image/promotion.jpg" alt="" class="img-responsive" /></div>
					</div>
				</div>
				<!-- HTML Module End !-->

				<!-- Featured Module !-->
				<div class="box">
					<div class="box-heading"><h3>Featured Products</h3></div>
					<div class="box-content">
						<div id="carousel3" class="owl-carousel product-carousel">
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-4-Petal-Flower-Charm" title="Flat 4 Petal Flower Charm">Flat 4 Petal Fl...</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-4-Petal-Flower-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2611-Y1-200x200.jpg" alt="Flat 4 Petal Flower Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$12.09</span>
										<span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77143" /></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Pentagon-Charm" title="Flat Pentagon Charm">Flat Pentagon Charm</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Pentagon-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2612-Y1-200x200.jpg" alt="Flat Pentagon Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$12.93</span>
										<span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77144"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Female-Sign-Charm" title="Flat Female Sign Charm">Flat Female Sig...</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Female-Sign-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2615-Y1-200x200.jpg" alt="Flat Female Sign Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$9.56</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77145"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Male-Sign-Charm" title="Flat Male Sign Charm">Flat Male Sign Charm</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Male-Sign-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2614-Y1-200x200.jpg" alt="Flat Male Sign Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$10.22</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77146"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Butterfly-2-Hole-Charm" title="Flat Butterfly 2 Hole Charm">Flat Butterfly ...</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Butterfly-2-Hole-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2606-Y1-200x200.jpg" alt="Flat Butterfly 2 Hole Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$16.94</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77139"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Marquise-Outline-Charm" title="Flat Marquise Outline Charm">Flat Marquise O...</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Marquise-Outline-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2607-Y1-200x200.jpg" alt="Flat Marquise Outline Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$18.11</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77140"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Oval-Outline-Charm" title="Flat Oval Outline Charm">Flat Oval Outli...</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Oval-Outline-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2608-Y1-200x200.jpg" alt="Flat Oval Outline Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$10.74</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77141"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Daisy-Flower-Charm" title="Flat Daisy Flower Charm">Flat Daisy Flow...</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Daisy-Flower-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2610-Y1-200x200.jpg" alt="Flat Daisy Flower Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$13.26</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77142"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Snowflake-Charm" title="Flat Snowflake Charm">Flat Snowflake Charm</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Snowflake-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2603-Y1-200x200.jpg" alt="Flat Snowflake Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$16.94</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77136"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Butterfly-Outline-Charm" title="Flat Butterfly Outline Charm">Flat Butterfly ...</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Butterfly-Outline-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2604-Y1-200x200.jpg" alt="Flat Butterfly Outline Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$10.74</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77137"/></div>
								</div>
							</div>
						</div>
<script type="text/javascript"><!--
$('#carousel3').owlCarousel({
	items: 6,
	autoPlay: 5000,
	navigation: true,
	navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
	pagination: false,
});
--></script>
					</div>
				</div>
				<!-- Featured Module End !-->

				<!-- Latest Module !-->
				<div class="box">
					<div class="box-heading"><h3>Latest Products</h3></div>
					<div class="box-content">
						<div id="carousel4" class="owl-carousel product-carousel">
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-4-Petal-Flower-Charm" title="Flat 4 Petal Flower Charm">Flat 4 Petal Fl...</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-4-Petal-Flower-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2611-Y1-200x200.jpg" alt="Flat 4 Petal Flower Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$12.09</span>
										<span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77143" /></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Pentagon-Charm" title="Flat Pentagon Charm">Flat Pentagon Charm</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Pentagon-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2612-Y1-200x200.jpg" alt="Flat Pentagon Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$12.93</span>
										<span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77144"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Female-Sign-Charm" title="Flat Female Sign Charm">Flat Female Sig...</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Female-Sign-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2615-Y1-200x200.jpg" alt="Flat Female Sign Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$9.56</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77145"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Male-Sign-Charm" title="Flat Male Sign Charm">Flat Male Sign Charm</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Male-Sign-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2614-Y1-200x200.jpg" alt="Flat Male Sign Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$10.22</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77146"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Butterfly-2-Hole-Charm" title="Flat Butterfly 2 Hole Charm">Flat Butterfly ...</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Butterfly-2-Hole-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2606-Y1-200x200.jpg" alt="Flat Butterfly 2 Hole Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$16.94</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77139"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Marquise-Outline-Charm" title="Flat Marquise Outline Charm">Flat Marquise O...</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Marquise-Outline-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2607-Y1-200x200.jpg" alt="Flat Marquise Outline Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$18.11</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77140"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Oval-Outline-Charm" title="Flat Oval Outline Charm">Flat Oval Outli...</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Oval-Outline-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2608-Y1-200x200.jpg" alt="Flat Oval Outline Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$10.74</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77141"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Daisy-Flower-Charm" title="Flat Daisy Flower Charm">Flat Daisy Flow...</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Daisy-Flower-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2610-Y1-200x200.jpg" alt="Flat Daisy Flower Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$13.26</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77142"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Snowflake-Charm" title="Flat Snowflake Charm">Flat Snowflake Charm</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Snowflake-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2603-Y1-200x200.jpg" alt="Flat Snowflake Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$16.94</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77136"/></div>
								</div>
							</div>
							<div class="item text-center">
								<div class="product-item">
									<div class="name"><a href="https://www.gempacked.com/Flat-Butterfly-Outline-Charm" title="Flat Butterfly Outline Charm">Flat Butterfly ...</a></div>
									<div class="image"><a href="https://www.gempacked.com/Flat-Butterfly-Outline-Charm"><img src="https://www.gempacked.com/image/cache/data/product/NAF/NAF2604-Y1-200x200.jpg" alt="Flat Butterfly Outline Charm" class="img-responsive" /></a></div>
									<div class="price">
										<span>$10.74</span>
                                        <span class="unit-products"> per </span>
									</div>
									<div class="cart"><input type="button" value="Add to Cart"  class="btn btn-orange" data-product_id="77137"/></div>
								</div>
							</div>
						</div>
<script type="text/javascript"><!--
$('#carousel4').owlCarousel({
	items: 6,
	autoPlay: 5000,
	navigation: true,
	navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
	pagination: false
});
--></script>
					</div>
				</div>
				<!-- Latest Module End !-->

				<!-- content of the page end here !-->
			</div>
		</div>
<!-- footer tpl start here !-->
	</div>
</div>
<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-6">
				<ul class="list-unstyled">
					<li><a href="https://www.gempacked.com/healing-crystal-giveaway-2018">Crystal Giveaway</a></li>
					<li><a href="https://www.gempacked.com/about_us">About Us</a></li>
					<li><a href="https://www.gempacked.com/shipping-information">Shipping and Delivery</a></li>
					<li><a href="https://www.gempacked.com/privacy-policy">Privacy Policy</a></li>
					<li><a href="https://www.gempacked.com/faq-and-help">FAQ and Help </a></li>
					<li><a href="https://www.gempacked.com/wholesale-pricing-and-bulk-discounts">Wholesale Pricing and Discounts</a></li>
					<li><a href="https://www.gempacked.com/account/return/add">Returns</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-6">
				<ul class="list-unstyled">
					<li><a href="https://www.gempacked.com/blog/">Blog</a></li>
					<li><a href="https://www.gempacked.com/account/rma/rmalogin">Returns</a></li>
					<li><a href="https://www.gempacked.com/contact">Contact Us</a></li>
					<li><a href="https://www.gempacked.com/sitemap">Site Map</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-6">
				<p><strong>Stay Connected</strong></p>
				<ul class="list-inline social-icons">
					<li><a target="_blank" href="https://www.facebook.com/pages/Gempacked/455209827860178/"><i class="fa fa-facebook"></i></a></li>
					<li><a target="_blank" href="https://twitter.com/gem_packed/"><i class="fa fa-twitter"></i></a></li>
					<li><a target="_blank" href="https://www.gempacked.com/blog/?feed=atom"><i class="fa fa-rss"></i></a></li>
					<li><a target="_blank" href="http://instagram.com/gempacked"><i class="fa fa-instagram"></i></a></li>
					<li><a target="_blank" href="http://pinterest.com/gempacked/"><i class="fa fa-pinterest"></i></a></li>
				</ul>
			</div>
			<div class="col-lg-offset-4 col-lg-2 col-md-3 col-sm-6">
				<ul class="list-unstyled">
					<li><strong>Contact Us</strong></li>
					<li>Bella Findings | 607 S. Hill Street  Arcade #6 | Los Angeles, CA 90014, USA</li>                
					<li><a href="tel:+1 213.629.4840">+1 213.629.4840</a></li>
					<li><a href="mailto:sales@gempacked.com">sales@gempacked.com</a></li>
					<li><img src="image/satisfaction.png" alt="100% Satisfaction" class="img-responsive pull-left"/> <img src="image/paypal.png" alt="Paypal varified" class="img-responsive pull-left" /></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<div class="copyrights">
	<div class="container-fluid">&copy; 2018 Gempacked.com. All rights reserved.</div>
</div>
</body>
</html>