div.hoverimage {
	padding:3px 0px 0px 0px;
	position: relative;
}
div.hoverimage:hover {
	background: #dddddd;
}
.options .option > b {
	margin-bottom:10px;
}
div.hoverimage img {
	margin-right:10px;
	padding:2px;
	border:1px solid #ccc;
}