.quickcheckoutleft {
	width: 30%;
	float:left;
}
.quickcheckoutright {
	width: 24%;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.quickcheckoutmid {
	width: 100%;
}
.extra-width {
	width: 42%;
}
#quickcheckoutconfirm .col-sm-6 {
	width: 100% !important;
}
#quickcheckoutconfirm #login .col-sm-6 {
	width: 49% !important;
}
#cart1 {
	padding-top: 10px;
	overflow: auto;
}
table.quickcheckout-cart {
	overflow: auto;
}
.quickcheckout-cart td.image img {
	width: 30px;
	height: auto;
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.quickcheckoutleft {
		width: 100%;
	}
	.quickcheckoutright {
		width: 100%;
	}
	.quickcheckoutmid {
		width: 100%;
	}
	#quickcheckoutconfirm .col-sm-6 {
		width: 45% !important;
	}
	#cart1 {
		padding-top: 0px;
	}
	table.quickcheckout-cart {
		overflow: auto;
	}
	.quickcheckout-cart td.image img {
		width: 30px;
		height: auto;
	}
}
