body > #container {
	background: url("../images/backgrounds/pattern17.png");
}
#content {
    background: none;
    min-width: 900px;
    padding: 10px 30px 128px;
}
.box > .heading {
	background: url("../images/tools_icon.png") 15px 51% no-repeat;
	background-color:#333;
	border:none;
	padding:15px;
	height:58px;
	margin-bottom:20px;
	border-radius:0 !Important;
}
h3.icon_preview {
	color:#ffffff;
	font-size:45px;
	float:left;
	margin:0 15px 0 0;
	padding:6px;
	height:45px;
	width:45px;
	text-align:center;
	vertical-align:middle;
	line-height:45px;
	background-color:#CA3E23;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.choose_icon {
	width:100%;
	margin-bottom:15px;
	height:55px;
}
.box > .heading h1 {
    color: #f8f8f8;
    float: left;
    font-size: 21px;
    margin: 0;
    padding:17px 0 0 75px;
	text-transform:uppercase;
}
.box > .heading a.button {
    text-decoration: none !important;
	color: #FFF !important;
	display: inline-block;
	padding: 8px 15px 8px 15px !important;
	background: #70c300 !important;
	border:none!important;
	height:29px;
	line-height:29px;
    margin-right: 5px;
    padding:0px 20px 0px 20px;
    text-decoration: none;
	text-transform:uppercase;
	box-shadow: 0 0 6px #000;
	border-radius:0 !Important;
}
input.spicy, select.spicy {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #DDDDDD #EEEEEE #EEEEEE #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
	margin-left:8px;
	margin-right:8px;
}
select.spicyBig {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #DDDDDD #EEEEEE #EEEEEE #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    padding:13px 6px;
	text-transform:uppercase;
	font-weight:bold;
	margin-left:8px;
	margin-right:8px;
	box-shadow: 0 0 6px #000;
}
.box > .column_1 {
	width:49%;
	float:left;
}
.box > .column_2 {
	width:49%;
	float:right;
}
.content {
	margin:0 0 20px 0;
	background-color:#f8f8f8;
	border:none;
	min-height:100px;
	padding:10px;
}
.upload-btn {
	padding:5px;
}
.content_last {
	margin:0 0 20px 0;
	background-color:#f8f8f8;
	border:none;
	padding:10px;
}
.content_full {
	margin:0 0 20px 0;
	background-color:#f8f8f8;
	border:none;
	padding:10px;

}
a [class^="icon-"], a [class*=" icon-"] {
	float:nonone !important;
	margin:2px 15px 0 0!important;	
}
.long_box {
	min-height:1000px;
	padding-top:15px;
	border-top:15px solid #333333;
	background-color:#ffffff;
}
#tabs {
	float:left;
	width:220px;
	height:100% !important;
	padding:0;
	background-color:none !important;
	text-align:left !important;
}
#tabs a{
	padding:0 10px 0 10px;
	clear:both;
	color:#ffffff;
	margin:0 auto 3px auto;
	float:left;
	width:200px;
	clear:both;
	background:#333333 !important;
	border:none;
	text-align:left !important;
	line-height:45px;
	height:45px;
	vertical-align:middle;
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	border-bottom:5px solid #444444;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
	webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#tabs a:hover, #tabs a.selected {
	color:#333333 !important;
	background:#ffffff !important;
	border-bottom:5px solid #ffffff;
	box-shadow: none !important;
    -moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.htabs-content h2, .htabs-content h2, .content_full h2 {
	background-color:#f5f5f5;
	color:#333333;
	margin:0 0 30px 0;
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	padding:10px;
}
table.form td .default_value {
	color:#999;
	font-size:11px;
}
span.helper {
	color:#900;
	font-size:11px;
}
.htabs.htabs2 {
	margin-bottom:60px;
	margin-top:40px;
	border:none !important;
}
.htabs.htabs2 a {
	background-image:none !important;
    background-color: #CA3E23;
    border-left: none;
    border-right: none;
    border-top: 2px solid #333333;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-right: 2px;
    padding: 12px 15px 12px;
    text-align: center;
    text-decoration: none;
}
.htabs.htabs2 a.selected, .htabs.htabs2 a:hover {
	background-color: #ffffff;
	border-top:2px solid #CA3E23;
	color:#333333 !important;
}
.htabs-content {
	margin-bottom:25px!Important;
	padding-bottom:25px;
	margin-left:240px;
	border-bottom:1px solid #e1e1e1;
}
.htabs-content.no_margin {
	margin-left:0px;
}
td.visa {
	background:url("../images/visa-curved-32px.png") 0px 8px no-repeat;
}
td.electron {
	background:url("../images/visa-electron-curved-32px.png") 0px 8px no-repeat;
}
td.master {
	background:url("../images/mastercard-curved-32px.png") 0px 8px no-repeat;
}
td.maestro {
	background:url("../images/maestro-curved-32px.png") 0px 8px no-repeat;
}
td.american {
	background:url("../images/american-express-curved-32px.png") 0px 8px no-repeat;
}
td.cirrus {
	background:url("../images/cirrus-curved-32px.png") 0px 8px no-repeat;
}
td.two_checkout {
	background:url("../images/2checkout-curved-32px.png") 0px 8px no-repeat;
}
td.delta {
	background:url("../images/delta-curved-32px.png") 0px 8px no-repeat;
}
td.discover {
	background:url("../images/discover-curved-32px.png") 0px 8px no-repeat;
}
td.google {
	background:url("../images/google-checkout-curved-32px.png") 0px 8px no-repeat;
}
td.moneybookers {
	background:url("../images/moneybookers-curved-32px.png") 0px 8px no-repeat;
}
td.sage {
	background:url("../images/sagepay-curved-32px.png") 0px 8px no-repeat;
}
td.paypal {
	background:url("../images/paypal-curved-32px.png") 0px 8px no-repeat;
}
td.solo {
	background:url("../images/solo-curved-32px.png") 0px 8px no-repeat;
}
td.switch {
	background:url("../images/switch-curved-32px.png") 0px 8px no-repeat;
}
td.western {
	background:url("../images/western-union-curved-32px.png") 0px 8px no-repeat;
}
.preview {
	width:140px;
	height:60px;
	float:left;
	margin:0 20px 20px 0;
	border:1px solid #eeeeee;
	padding:7px;
	text-align:center;
	position:relative;
}
.preview b {
	display:block;
	text-align:center;
	width:20px;
	height:20px;
	color:#ffffff;
	background-color:#333333;
	position:absolute;
	top:-5px;
	right:-5px;
}
.prev1 {
	background:url("../images/backgrounds/pattern1.png") top left repeat;
	background-color:#f8f8f8;
}
.prev2 {
	background:url("../images/backgrounds/pattern2.png") top left repeat;
	background-color:#f8f8f8;
}
.prev3 {
	background:url("../images/backgrounds/pattern3.png") top left repeat;
	background-color:#f8f8f8;
}
.prev4 {
	background:url("../images/backgrounds/pattern4.png") top left repeat;
	background-color:#f8f8f8;
}
.prev5 {
	background:url("../images/backgrounds/pattern5.png") top left repeat;
	background-color:#f8f8f8;
}
.prev6 {
	background:url("../images/backgrounds/pattern6.png") top left repeat;
	background-color:#f8f8f8;
}
.prev7 {
	background:url("../images/backgrounds/pattern7.png") top left repeat;
	background-color:#f8f8f8;
}
.prev8 {
	background:url("../images/backgrounds/pattern8.png") top left repeat;
	background-color:#f8f8f8;
}
.prev9 {
	background:url("../images/backgrounds/pattern9.png") top left repeat;
	background-color:#f8f8f8;
}
.prev10 {
	background:url("../images/backgrounds/pattern10.png") top left repeat;
	background-color:#f8f8f8;
}
.prev11 {
	background:url("../images/backgrounds/pattern11.png") top left repeat;
	background-color:#f8f8f8;
}
.prev12 {
	background:url("../images/backgrounds/pattern12.png") top left repeat;
	background-color:#f8f8f8;
}
.prev13 {
	background:url("../images/backgrounds/pattern13.png") top left repeat;
	background-color:#f8f8f8;
}
.prev14 {
	background:url("../images/backgrounds/pattern14.png") top left repeat;
	background-color:#f8f8f8;
}
.prev15 {
	background:url("../images/backgrounds/pattern15.png") top left repeat;
	background-color:#f8f8f8;
}
.prev16 {
	background:url("../images/backgrounds/pattern16.png") top left repeat;
	background-color:#f8f8f8;
}
.prev17 {
	background:url("../images/backgrounds/pattern17.png") top left repeat;
	background-color:#f8f8f8;
}
.prev18 {
	background:url("../images/backgrounds/pattern18.png") top left repeat;
	background-color:#f8f8f8;
}
.prev19 {
	background:url("../images/backgrounds/pattern19.png") top left repeat;
	background-color:#f8f8f8;
}
.prev20 {
	background:url("../images/backgrounds/pattern20.png") top left repeat;
	background-color:#f8f8f8;
}
.prev21 {
	background:url("../images/backgrounds/pattern21.png") top left repeat;
	background-color:#f8f8f8;
}
.prev22 {
	background:url("../images/backgrounds/pattern22.png") top left repeat;
	background-color:#f8f8f8;
}
.prev23 {
	background:url("../images/backgrounds/pattern23.png") top left repeat;
	background-color:#f8f8f8;
}
.prev24 {
	background:url("../images/backgrounds/pattern24.png") top left repeat;
	background-color:#f8f8f8;
}
.prev25 {
	background:url("../images/backgrounds/pattern25.png") top left repeat;
	background-color:#f8f8f8;
}
.prev26 {
	background:url("../images/backgrounds/pattern26.png") top left repeat;
	background-color:#f8f8f8;
}
.prev27 {
	background:url("../images/backgrounds/pattern27.png") top left repeat;
	background-color:#f8f8f8;
}
.prev28 {
	background:url("../images/backgrounds/pattern28.png") top left repeat;
	background-color:#f8f8f8;
}
.prev29 {
	background:url("../images/backgrounds/pattern29.png") top left repeat;
	background-color:#f8f8f8;
}
.prev30 {
	background:url("../images/backgrounds/pattern30.gif") top left repeat;
	background-color:#f8f8f8;
}
.prev31 {
	background:url("../images/backgrounds/pattern31.png") top left repeat;
	background-color:#f8f8f8;
}
.prev32 {
	background:url("../images/backgrounds/pattern32.png") top left repeat;
	background-color:#f8f8f8;
}
.prev33 {
	background:url("../images/backgrounds/pattern33.png") top left repeat;
	background-color:#f8f8f8;
}
.prev34 {
	background:url("../images/backgrounds/pattern34.png") top left repeat;
	background-color:#f8f8f8;
}
.prev35 {
	background:url("../images/backgrounds/pattern35.png") top left repeat;
	background-color:#f8f8f8;
}
.prev36 {
	background:url("../images/backgrounds/pattern36.png") top left repeat;
	background-color:#f8f8f8;
}
.prev37 {
	background:url("../images/backgrounds/pattern37.png") top left repeat;
	background-color:#f8f8f8;
}
.prev38 {
	background:url("../images/backgrounds/pattern38.png") top left repeat;
	background-color:#f8f8f8;
}
.prev39 {
	background:url("../images/backgrounds/pattern39.png") top left repeat;
	background-color:#f8f8f8;
}
.prev40 {
	background:url("../images/backgrounds/pattern40.png") top left repeat;
	background-color:#f8f8f8;
}
.hide {
	display:none !important;
}







/* Clear Fix Hack ------------------------------------------------------------------------------------*/


.fixed:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.fixed {
	display:block;
}
/*  \*/
.fixed {
	min-height:1%;
}
* html .fixed {
	height:1%;
}
.last {
	margin-right:0px;
}
.clear {
	clear:both;
	font-size: 0;
	line-height: 0;
	height: 0
}