/* General Reset */
body{
	background-color:<?php echo $config['body_bg_color']; ?>;
	margin:0;
	padding:0;
}

b, strong {
	font-weight: bold
}

/* Email Client Specific */
.ExternalClass {
	width:100%;
}
.ExternalClass, 
.ExternalClass p, 
.ExternalClass span, 
.ExternalClass font, 
.ExternalClass td, 
.ExternalClass div {
	line-height: 100%;
}
h2,h3,h4,h5,h6 {
	color:#0066CC !important;
}
#outlook a {
	padding:0;
}

/* Template */
#emailTemplate {
	background:none !important;
	background-color:<?php echo $config['body_bg_color']; ?>;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
	color: <?php echo $config['body_font_color']; ?>;	
	width:100% !important; 
	min-width:100%; 
	/* height:100%; causes bug in reply email from Outlook/Thunderbird  */
	margin:0 !important; 
	padding:0 !important; 
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}
#emailTemplate.cke_editable { 
	min-width: 0 !important;
    padding: 10px !important;
    width: auto !important;	
}

#emailTemplate table { 
	border-collapse:collapse;
	border:none; 
	mso-table-lspace:0pt; 
	mso-table-rspace:0pt;
	width:100%;
	margin:0; 
	table-layout:fixed;
}  
	#emailTemplate td {
		vertical-align: top;
		line-height: normal;
		padding: 0;
		font-size:12px; 
		line-height:18px; 
		vertical-align: middle;
		font-family: Arial, Helvetica, sans-serif; 
		color:<?php echo $config['body_font_color']; ?>;
		text-align: <?php echo $config['text_align']; ?>;
	}
	
#outlook a { padding:0 } /* Force Outlook to provide a "view in browser" button. */
.ReadMsgBody { width:100% }
.ExternalClass { width:100% } /* Force Hotmail to display emails at full width */

/* Make Microsoft apps scale images properly. */
#emailTemplate img { 
	max-width:100% !important;
	/* height:auto; break Outlook.com online with image disabled */
	line-height:100%;
	border:none; 
	outline:none;
	text-decoration:none; 
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-ms-interpolation-mode: bicubic; 
}

#emailTemplate a { 
	color:<?php echo $config['body_font_color']; ?>;
	text-decoration:none
}

#emailTemplate p, 
#emailTemplate .emailMainText, 
#emailTemplate li {
	-ms-text-size-adjust: 100%;
	font-family: Arial, Helvetica, sans-serif;  
	font-size: 12px; 
	font-weight: normal; 
	line-height: 16px; 
	color: <?php echo $config['body_font_color']; ?>; 
	margin: 0;
	padding: 0; 
	word-wrap: break-word;
}
	#emailTemplate .emailMainText a {
		color:<?php echo $config['body_font_color']; ?>;	
	}
	/* Backward compatibility */
	#emailTemplate .standard {
		/* padding-bottom: 15px */	
	}
		
#emailTemplate .heading1, 
#emailTemplate .heading2, 
#emailTemplate .heading3, 
#emailTemplate .heading4, 
#emailTemplate .heading5, 
#emailTemplate .heading6 {
	-ms-text-size-adjust:100%; 
	font-family: Arial, Helvetica, sans-serif;  
	color:<?php echo $config['body_heading_color']; ?>;
	font-weight:bold;
}
#emailTemplate .heading1 {
	color:<?php echo $config['body_font_color']; ?>;
	font-size:18px; 
	line-height:22px;
}
#emailTemplate .heading2 {
	font-size:20px;
	font-weight:normal;
	line-height:25px; 
}
#emailTemplate .heading3 {
	font-size:16px;
	font-weight:normal;
	line-height:1; 
}

#emailTemplate .link {	 
}
	#emailTemplate .link .icon {
		line-height: 100%; 
		font-size: 120%; 
		vertical-align: baseline
	}
	#emailTemplate .link a, 
	#emailTemplate a.link {
		word-break: break-all;
		color:<?php echo $config['body_link_color']; ?>; 
	}
	
#emailTemplate .list {
	margin: 5px 0 0 0; 
	padding: 0 0 0 15px; 
	line-height: 1;
}
	#emailTemplate .list > li {
		margin: 0 0 4px 0; 
		padding: 0;
	}
	
#emailTemplate .product-data {
	font-size: 12px; 
	padding-top: 5px;
}
#emailTemplate .product-name {
	font-size: 13px; 
	font-weight: bold;
}
#emailTemplate .product-image {
	float:left; 
	inline:inline; 
	margin-right:5px;
}
#emailTemplate .list-product-options {
	font-size: 12px;
	line-height: 16px;
}
	
#emailTemplate .table1 {
	color:#666666; 
	/* -moz-border-radius:3px; 
	-moz-box-shadow:0 1px 2px #d1d1d1; 
	-webkit-border-radius:3px; 
	-webkit-box-shadow:0 1px 2px #d1d1d1;
	border-radius:3px; 
	box-shadow:0 1px 2px #d1d1d1;  */
	border:1px solid #e0e0e0; 	
	table-layout: auto; 
}
	#emailTemplate .table1 > thead > tr > th {
		font-size: 14px; 
		font-weight: bold;
		padding: 10px 8px;
		white-space: nowrap;
	}

	#emailTemplate .table1 > tbody > tr > td,
	#emailTemplate .table1 > tfoot > tr > td {
		border-bottom: 1px solid #e0e0e0; 
		border-left: 1px solid #e0e0e0; 
		/* word-break: break-all; */
		padding: 5px 8px;
	}
	#emailTemplate .table1 > tbody > tr.last-child > td,
	#emailTemplate .table1 > tfoot > tr.last-child > td {
		border-bottom: none
	}
	#emailTemplate .table1 > tfoot > tr > td {
		padding-top: 3px;
		padding-bottom: 3px
	}
	#emailTemplate .table1 td.price {
		font-weight: bold;
		line-height:1;
	}
	
	#emailTemplate td.rating {
		line-height: 1;
		font-size: 11px;
    	padding: 3px 0 2px;
    	text-align: center
	}
		#emailTemplate td.rating img {
			vertical-align: middle
		}
	
#emailTemplate .table1 td.address {
	line-height: 20px;
}
	#emailTemplate .table1 td.address p {
		line-height: 16px				
	}
	
/* order email */
#emailTemplate .table1 .tableStack tr > td {
	padding: 10px;
	vertical-align: top;	
}
	#emailTemplate .table1 .tableStack tr > td.last-child {
		border-left:1px solid #E0E0E0			
	}

#emailTemplate .last {
	line-height: 20px
}
	#emailTemplate .last > a {
		color: #000000;
		font-weight: bold;
	}
	
<?php if ($config['page_align'] == 'center' && $config['email_responsive']): ?>
#emailTemplate .mainContainer {
	width: 100%;
	max-width: <?php echo $config['email_full_width']; ?>px;
	min-width: 300px !important; 
	margin-left: auto; 
	margin-right: auto;
}
<?php else: ?>
#emailTemplate .mainContainer {
	width: <?php echo $config['email_full_width']; ?>px;
	max-width: none; 
	min-width: 300px !important;
	float: <?php echo $config['page_align']; ?>;
}
<?php endif; ?>

#emailTemplate .emailStyle {
	<?php if($config['body_bg_image']) { ?>
		background-image: url('<?php echo $config['body_bg_image']; ?>');
	<?php } ?>
	<?php if($config['body_bg_image_repeat']) { ?>
		background-repeat: <?php echo $config['body_bg_image_repeat']; ?>;
	<?php } ?>
	<?php if($config['body_bg_image_position']) { ?>
		background-position: <?php echo $config['body_bg_image_position']; ?>;
	<?php } ?>
}

#emailTemplate .emailWrapper > table > tr > td {
	text-align: center
}

/************
 *** HEAD *** 
 ************/
#emailTemplate .emailHead > tr > td {
	text-align: center;
}

#emailTemplate .emailHeadText {
	table-layout: auto;
}
	#emailTemplate .emailHeadText p {
		display: inline-block; 
		padding-top: 10px;
		padding-bottom: 10px;
	}

/**************
 *** HEADER *** 
 **************/
#emailTemplate .emailHeaderWrap {
	<?php if ($config['header_bg_image']) { ?>
		background-image:url("<?php echo $config['header_bg_image']; ?>");
	<?php } ?>
	background-color:<?php echo $config['header_bg_color']; ?>;
	background-repeat: no-repeat;
   	background-size: 100% auto;
}
#emailTemplate .emailHeader > tr > td {
	text-align: center;
}

#emailTemplate .emailLogo {
	text-align:<?php echo $config['logo_align']; ?>; 
	vertical-align:<?php echo $config['logo_valign']; ?>;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 30px;
	padding-right: 30px;
}
	#emailTemplate .emailLogo a {
		display: block; 
		font-size: <?php echo $config['logo_font_size']; ?>px; 
		font-weight: bold; 
		color: <?php echo $config['logo_font_color']; ?>;
	}
	#emailTemplate .emailLogo img {
		display:inline;
	}

/**************
 *** FOOTER *** 
 **************/
#emailTemplate .emailFooterText td {
	height:<?php echo $config['footer_height']; ?>px; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size:11px; 
	line-height:normal; 
	color:<?php echo $config['footer_font_color']; ?>;
	text-align:<?php echo $config['footer_align']; ?>; 
	vertical-align:<?php echo $config['footer_valign']; ?>
}
	#emailTemplate .emailFooterText p {
		display: inline-block; 
		padding-bottom: 0;
	}
	#emailTemplate .emailFooterText a {
		 color: <?php echo $config['footer_font_color']; ?>; 
	}
	#emailTemplate .emailUnsubscribe {
		 font-size: 11px; 
		 line-height: 18px; 
		 color: <?php echo $config['footer_font_color']; ?>; 
		 padding: 0 0 8px 0; 
		 margin: 0;
	}
	
/************
 *** MAIN *** 
 ************/
#emailTemplate .emailMainText {
	padding: 20px 17px 5px 17px;
	text-align: <?php echo $config['text_align']; ?>; 
}	
	
#emailTemplate .emailHeadText {
	table-layout: auto;
}

#emailTemplate .emailShadow td, 
#emailTemplate .emailHeaderBorder td, 
#emailTemplate .emailSpacer td { 
	font-size:1px; 
	line-height:0; 
	mso-margin-top-alt:1px; 
}

#emailTemplate .emailTableShadow {
	table-layout: auto
}

#emailTemplate .emailPageFooter {
	padding-top: 0;
	padding-bottom: 20px;
}

#emailTemplate .emailShowcase {
	padding-top: 0;
}
	#emailTemplate .emailShowcase .img {
		text-align: center;
		vertical-align: top;
	}
	#emailTemplate .emailShowcase .emailShowcaseItem {
		float: left;
	}
	#emailTemplate .emailShowcase .productTitle {
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
		vertical-align: bottom;
		height: 50px;
		text-align: center
	}
	
	#emailTemplate .emailShowcase .img {
		height: 120px;
	}	
	
	#emailTemplate .emailShowcase .price {
		font-size: 11px;
		text-align: center;
		height: 20px;
		line-height: 18px;
		padding: 3px 0 0 0;
		vertical-align: top;
	}	
	#emailTemplate .emailShowcase .price-inner {
		display: inline-block; *display:inline; zoom:1;
		border-top: 1px dotted #ccc;
		padding: 0 2px 0 2px
	}	
		#emailTemplate .price-old {
		    color: #FF0000;
		    text-decoration: line-through;
		}
		#emailTemplate  .price-new {
		    font-weight: bold;
		}
		#emailTemplate .price-tax {
		    color: #BBBBBB;
		    font-weight: normal;
		}

/***************
 *** GENERIC *** 
 ***************/	 
#emailTemplate .noWrap { 
	white-space: nowrap;
    word-wrap: normal;
}  
#emailTemplate .textLeft, #emailTemplate .table1 td.textLeft { 
	text-align: left !important
}  
#emailTemplate .textRight, #emailTemplate .table1 td.textRight { 
	text-align: right !important
}  
#emailTemplate .textCenter, #emailTemplate .table1 td.textCenter { 
	text-align: center !important
}


/******************
 *** PAGE INNER ***
 ******************/
#emailTemplate .emailMainText {
	padding-left: 30px;
	padding-right: 30px;
}
#emailTemplate .emailPageInner {
	height: 15px;
	line-height: 0
}
	#emailTemplate .emailPageInnerTop {
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	#emailTemplate .emailPageInnerBottom {
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}


#emailTemplate .voucher-image {
	float: right; 
	margin-left: 20px;
}
	#emailTemplate .voucher-image img {
		margin-bottom: 20px;
	}